<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PackageThis.Properties.Settings>
            <setting name="currentLibrary" serializeAs="String">
                <value>0</value>
            </setting>
        </PackageThis.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PackageThis.Properties.Settings>
            <setting name="PackageThis_com_microsoft_msdn_services_ContentService"
                serializeAs="String">
                <value>http://services.msdn.microsoft.com/ContentServices/ContentService.asmx?wsdl</value>
            </setting>
        </PackageThis.Properties.Settings>
    </applicationSettings>
</configuration>