<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContentService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ContentService.Properties.Settings>
            <setting name="ContentService_com_microsoft_msdn_services_ContentService"
                serializeAs="String">
                <value>http://services.msdn.microsoft.com/ContentServices/ContentService.asmx</value>
            </setting>
        </ContentService.Properties.Settings>
    </applicationSettings>
</configuration>